/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Summary statistics harmonisation module options
----------------------------------------------------------------------------------------
*/

// SUMMARY STATISTICS HARMONISATION

process {

    withName: 'GWASLAB_HARMONIZE' {
        ext.prefix = { meta.summary_statistics_id }
        publishDir = [
            path: { "${params.outdir}/summary_statistics/${meta.summary_statistics_id}" },
            mode: params.publish_dir_mode,
            pattern: '*.gwaslab.{tsv.gz,log}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
