/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Canonical summary-statistics module options
------------------------------------------------------------------------------------------
*/

// SUMMARY STATISTICS CANONICALISATION

process {

    withName: 'CANONICALISE_SUMMARY_STATISTICS' {
        ext.prefix = { meta.summary_statistics_id }
        publishDir = [
            path: { "${params.outdir}/summary_statistics/${meta.summary_statistics_id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{canonical.tsv.gz,provenance.json}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'PREPARE_LDAK_SUMMARY_STATISTICS' {
        ext.prefix = { "${meta.summary_statistics_id}.ldak" }
    }
}
