/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Summary-statistics adapter module options
------------------------------------------------------------------------------------------
*/

// SUMMARY STATISTICS ADAPTERS

process {

    withName: 'PREPARE_LDAK_SUMMARY_STATISTICS' {
        ext.prefix = { "${meta.summary_statistics_id}.ldak" }
    }
}
