process {
    withName: 'REGENIE_STEP1|REGENIE_SPLITL0|REGENIE_RUNL0|REGENIE_RUNL1' {
        ext.args = '--phenoColList QuantitativeTrait'
    }
}

// The public popgen fixture has 200 samples and 220 variants.
process {
    withName: 'REGENIE_.*' {
        cpus = 1
        memory = '2.GB'
    }
}
