process { withName: 'ATTRIBUTE_LDAK_KVIK_PREDICTIONS' { container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' } }
process { withName: 'ATTRIBUTE_REGENIE_PREDICTIONS' { container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' } }
process { withName: 'CUSTOM_GCTACREATEMGRMMANIFEST' { container = 'community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:838ba80435a629f8' } }
process { withName: 'CUSTOM_GCTASTRATIFYLDSCORES' { container = 'community.wave.seqera.io/library/r-base:4.2.1--b0b5476e2e7a0872' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--db7c73dae76bc9e6' } }
process { withName: 'PLINK2_MAKEBED' { container = 'community.wave.seqera.io/library/plink2:2.0.0a.6.9--e6710830a4b7f0c6' } }
process { withName: 'REGENIE_RUNL1' { container = 'community.wave.seqera.io/library/regenie:4.1.2--5d361f9fcb2f85cf' } }
