process { withName: 'ATTRIBUTE_LDAK_KVIK_PREDICTIONS' { conda = 'modules/local/attribute_ldak_kvik_predictions/.conda-lock/linux_amd64-bd-838ba80435a629f8_1.txt' } }
process { withName: 'ATTRIBUTE_REGENIE_PREDICTIONS' { conda = 'modules/local/attribute_regenie_predictions/.conda-lock/linux_amd64-bd-838ba80435a629f8_1.txt' } }
process { withName: 'CUSTOM_GCTACREATEMGRMMANIFEST' { conda = 'modules/nf-core/custom/gctacreatemgrmmanifest/.conda-lock/linux_amd64-bd-838ba80435a629f8_1.txt' } }
process { withName: 'CUSTOM_GCTASTRATIFYLDSCORES' { conda = 'modules/nf-core/custom/gctastratifyldscores/.conda-lock/linux_amd64-bd-b0b5476e2e7a0872_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-db7c73dae76bc9e6_1.txt' } }
process { withName: 'PLINK2_MAKEBED' { conda = 'modules/nf-core/plink2/makebed/.conda-lock/linux_amd64-bd-e6710830a4b7f0c6_1.txt' } }
process { withName: 'REGENIE_RUNL1' { conda = 'modules/nf-core/regenie/runl1/.conda-lock/linux_amd64-bd-5d361f9fcb2f85cf_1.txt' } }
