process { withName: 'ATTRIBUTE_LDAK_KVIK_PREDICTIONS' { container = 'oras://community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:2f90c612c8e49f19' } }
process { withName: 'ATTRIBUTE_REGENIE_PREDICTIONS' { container = 'oras://community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:2f90c612c8e49f19' } }
process { withName: 'CUSTOM_GCTACREATEMGRMMANIFEST' { container = 'oras://community.wave.seqera.io/library/coreutils_grep_gzip_lbzip2_pruned:2f90c612c8e49f19' } }
process { withName: 'CUSTOM_GCTASTRATIFYLDSCORES' { container = 'oras://community.wave.seqera.io/library/r-base:4.2.1--c5658ade82adbaf6' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--4fc8657c816047c0' } }
process { withName: 'PLINK2_MAKEBED' { container = 'oras://community.wave.seqera.io/library/plink2:2.0.0a.6.9--038e91647305849b' } }
process { withName: 'REGENIE_RUNL1' { container = 'oras://community.wave.seqera.io/library/regenie:4.1.2--7c121fb4ecd57890' } }
