/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LDAK-KVIK thin-common route test options
----------------------------------------------------------------------------------------
*/

params {
    // Config options
    config_profile_name        = 'LDAK-KVIK thin-common test profile'
    config_profile_description = 'Quantitative LDAK-KVIK route using generated common predictors'
}

includeConfig 'route_profile_resolver.config'
includeConfig 'test_ldak_kvik_deterministic.config'
