/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Full-scale test profile options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '12.GB', time: '2.h']
}

params {
    // Config options
    config_profile_name        = 'Full-scale test profile'
    config_profile_description = 'Every release route on the compact two-autosome fixture'
}

includeConfig 'route_profile_resolver.config'
