/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Association-only test profile options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '1.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'Association-only test profile'
    config_profile_description = 'Every association route on the static quantitative example'
}

includeConfig 'route_profile_resolver.config'
