/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LDAK-KVIK association route test alias
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '1.GB', time: '1.h']
}

includeConfig 'test_ldak_kvik_thin_common.config'
