/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LDAK same-weight-content route test options
----------------------------------------------------------------------------------------
*/

includeConfig 'test_ldak_relatedness.config'

process {
    resourceLimits = [cpus: 4, memory: '1.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'LDAK same-weight-content test profile'
    config_profile_description = 'Different weight paths with identical bytes sharing one matrix'
}

includeConfig 'route_profile_resolver.config'
