/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REGENIE standard Step 1 route test options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'REGENIE standard Step 1 test profile'
    config_profile_description = 'Relational REGENIE route with standard Step 1'
}
