/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REGENIE chunked Step 1 route test options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '1.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'REGENIE chunked Step 1 test profile'
    config_profile_description = 'Relational REGENIE route with chunked Step 1'

    // REGENIE association options
    regenie_step1_mode         = 'chunked'
    regenie_step1_jobs         = 3

}
