/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GCTA fastGWA-MLM association route test options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'GCTA fastGWA-MLM test profile'
    config_profile_description = 'GCTA fastGWA-MLM matrix reuse, matrix separation and binary-trait scenarios'
    gcta_grm_parts             = 1
}

includeConfig 'route_profile_resolver.config'
