/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LDAK-KVIK binary-trait route test options
----------------------------------------------------------------------------------------
*/

params {
    // Config options
    config_profile_name        = 'LDAK-KVIK binary-trait test profile'
    config_profile_description = 'Binary LDAK-KVIK route using every predictor'
}

includeConfig 'route_profile_resolver.config'
includeConfig 'test_ldak_kvik_deterministic.config'
