/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REGENIE binary-trait route test options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '1.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'REGENIE binary-trait test profile'
    config_profile_description = 'Relational binary REGENIE route with standard Step 1'
}
