params {
    module_args = ""
    ldak_sumher_fixture_base_path = "${projectDir}/modules/local/ldak/sumher/tests/fixtures/"
}

process {
    withName: "LDAK_SUMHER" {
        ext.args = { params.module_args ?: "" }
        cpus = 2
        memory = 2.GB
        container = System.getenv("LDAK_TEST_CONTAINER") ?: "ghcr.io/lyh970817/gwas/ldak:6.3-b755ab7@sha256:f2b2157559e4346cab5e9f478ab70fc76359743ef06522fed9ad23769d735a6e"
    }
}
