params {
    module_args = '--n-blocks 20'
}

process {
    withName: LDSC_H2 {
        ext.args  = params.module_args
        container = System.getenv('LDSC_TEST_CONTAINER') ?: 'ghcr.io/lyh970817/gwas/ldsc:3.0.2-cbiit-6c67395@sha256:77fbb697c16a559c3fe75204b1e7ab6a0202afcf10b8a8629bcc98592b0e412b'
    }
}
