params.mrmega_args = ""

process {
    cpus = 2
    memory = 2.GB
    withLabel: process_single {
        cpus = 2
        memory = 2.GB
    }
    withName: MRMEGA {
        ext.args = { params.mrmega_args }
    }
    withLabel: process_high {
        cpus = 2
        memory = 2.GB
    }
    withLabel: process_medium {
        cpus = 2
        memory = 2.GB
    }
}
